version: "3"

services:
  backend:
    image: node:19
    working_dir: /app
    command: npm i && npm start
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
  frontend:
    image: node:19
    working_dir: /app
    command: npm i && npm start
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: example
      POSTGRES_DB: apolloapp
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
#  adminer:
#    image: adminer
#    restart: always
#    ports:
#      - 8080:8080
